<!-- Form -->
<form id="messageUs" >
    <!-- Heading -->
    <h4 class="form-heading mb-4">
        Contact us now:
    </h4>
    <div class="form-row d-flex flex-row align-items-end">
        <div class="col-md-6 flex-grow-1">

            <!-- Email -->
            <label>Email address</label>
            <div class="input-group">
                <input type="email" class="form-control order-1" name="contact-email" id="contactEmail">
                <div class="input-group-append order-0">
                    <div class="input-group-text">
                        <svg class="input-group-icon icon-offset icon icon-envelope"
                            viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path transform="translate(3 3)" d="
                M0 30 V 10 H 100 V 90 H 0 V 30 L 50 60 L 100 30">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6" id="successmsg">

            <!-- Submit -->
            <button type="submit" class="btn btn-outline-primary">
                Send message
            </button>
            <!-- <p></p> -->
            

        </div>
        
    </div> <!-- / .form-row -->
    <input type="text" class="d-none" name="contact-name" id='contactName'>
    <input type="text" class="d-none" name="message" id='message'>
    
        
    
</form>